$colors: (
  primary: #505FFF,
  secondary: #EAF4BF,
  tertiary: #C3C8FF,
  light-primary: #BFBFBF,
  light-secondary: #F1F6F5,
  light-tertiary: #DEE3E2,
  dark: #131E23,
  titles: #292929,
  labels: #707070,
  inputs: #f5f5f5,
  placeholders: #C6C6C6,
);

$hover: (
  primary: #3F4F9F,
  secondary: #DCE3A5,
  tertiary: #A5A9D6,
  light-primary: #A5A5A5,
  light-secondary: #DCE3E2,
  light-tertiary: #BFC4C3,
  dark: #0D1418
)
