{{person() | json}}

@if(!alertCard())
{<section class="card">
  <h2 class="title">Editar cadastro</h2>

  <form [formGroup]="form">
    <label for="nome">Nome
      <input type="text" formControlName="name" id="nome" placeholder="Insira o nome" />
    </label>

    <label for="email">E-mail
      <input type="email" formControlName="email" id="email" placeholder="Insira o e-mail" />
    </label>

    <label for="phone">Telefone
      <input type="text" formControlName="phone" id="phone" placeholder="Insira o telefone" />
    </label>

    <label for="birthDate">Data de nascimento
      <input type="date" formControlName="birthDate" id="birthDate">
    </label>

    <div class="actions">
      <button (click)="submit()" class="btn btn__larger actions__submit">
        Salvar alterações
        <img class="actions__submit__icon" src="assets/icons/arrow.svg" alt="Seta para direita" />
      </button>
      <button (click)="cancel()" class="btn btn__transparent-full">Cancelar</button>
    </div>
  </form>
</section>
}

@if(alertCard(); as alert) {
<app-card-alert titleCard="Cadastro editado com sucesso!" (showAlert)="alertCard.set($event)"
  (toggleShowForm)="handleAlertClose($event)"></app-card-alert>
}